body {
    background-color: #650BA1;
}

.home-button {
    max-height: 50px;
}

h3 {
    text-align: center;
    margin-top: 80px;
    
}

h3::first-letter {
    color: orange;
}

h3::after {
    content: ' ***'
}


.centered {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.navbar {
    border-bottom: 1px solid white;
    /* height: 75px; */

}

h6 {
    text-align: center;
    margin-top: 30px;
    
}

h6::first-letter {
    color: orange;
}

h6::after {
    content: ' |'
}





    


