@import "../partials/assets/button";
@import "../partials/assets/config";
@import "../partials/assets/colors";
@import "../partials/assets/variables";
@import "../partials/assets/colors";

@mixin button-style($background-color, $color) {
    background-color: $background-color;
    color: $color;

    &:hover {
    background-color: $background-color;
    color: $color;

    }
}

.buttonMixin {
    @include button-style(yellow, purple);
    margin-top: 20px;
    margin-left: 18%;

}

.buttonMixin:hover {
    @include set-background(lighten($button-color, 10%));
    @debug "button-color: #{button-color}";
    color:  white;
    
    
}

.colorChangingSquare {
    @include changeColor();
    width: 500px;
    height: 300px;
    margin: 20px;
    border: none;
}






