@import './partials/assets/config';
@import "./partials/assets/button";
@import "./partials/assets/config";
@import "./partials/assets/variables";
@import "./partials/assets/colors";
@import 
url(https://fonts.googleapis.com/css?family=Pacifico);


h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
}

.banner {
    @include set-background($primary-color); 
    font-family: "Pacifico", cursive;
    height: 400px;
    background-image:
        url ("lemonade.jpg");
    .slogan {
        position: absolute;
        border: $standard-border;
        top: 200px;
        left: 25%;
        width: 50%;
        height: 200px;
        text-align: center;
        background-color: $secondary-color; 
        span {
            font-size: 24px;
            line-height: 200px;
        }
    }
}

.container {
    @include set-background($primary-color); 
    text-align: center;
    font-family: "Pacifico", cursive;
    .icon {
        @include set-background($third-color);
        color: set-text-color($third-color);
        display: inline-block;
        margin: 2%;
        border: $standard-border;
        font-size: 40px;
        width: $icon-square-length + 30;
        height: $icon-square-length + 80;

         &:hover {
            transform: scale(.98);
            color: $secondary-color;
        }

        .lemonadeImg {
            width: $newImgWidth;
            height: $newImgHeight;
        }
        
    }
}

// checking some values
.values {
    display: flex;
    justify-content: space-evenly;
    background-color: #ff8700;
    color: white;
}

