@import "../../partials/assets/button";
@import "../../partials/assets/config";
@import "../../partials/assets/colors";
@import "../../partials/assets/variables";
@import "../../partials/assets/colors"; // niet handig om constant functies etc. te importeren. Main file?

.queriesContainer {
    display: flex;
    flex-direction: column;
    
}

.mixin-extend-container, .media-container, .outerSpace {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.mixin-extend-container {
    background-color: $third-color;
    flex: 1;
}

.media-container {
    background-color: $secondary-color;
    flex: 1;
}

.image {
    max-width: 50%;
    height: auto;
    float: left;
    padding: 10px;
}

.queries-text {
    
    padding: 10px;
}

.important-text {
    text-align: center;
    color: $button-hover-color;
}

// getting to some variables
.outerSpace {
    background-color: $light-color;
    border: 1px solid purple;
}

.queries-variables {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}


.flex-image {
    max-width: 90%;
    height: auto;
    margin: 10px;
    
}

// trying a query with variables
@media screen and ($max-width-name: $target-width * 2) {
    .queries-variables {
        flex-direction: column;
    }

}

body {
    background-color: lightslategrey;
}

.white-text {
    color: white;
}

