<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <title>Partials</title>
</head>
<body>

    General Style: <button class="button">Press me!</button>
    <br><br>
    Partial Style: <button class="button buttonTwo">Press me!</button>
    <br><br>
    <h3 class="standOut">I am about to take a central place on this page</h3>
    <h4 class="standDown">I only belong partly to the center</h4>
    
</body>
</html>