@import "./assets/button";
@import "./assets/config";
@import "./assets/variables";
@import "./assets/colors";


body {
    background-color: black;
}

.buttonTwo {
    background-color: $primary-color;
}

.standOut {
    @include important-text(2rem);
}

.standDown {
    @include important-text(1rem);
    font-weight: lighter;
    font-style: italic;
}