* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282c34;
}

.App {
  text-align: center;
  margin-top: 58px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

input {
  color: white !important;
}

h2 {
  background-color: orange;
  padding: 1rem;
}

.container {
  display: flex;
  justify-content: space-around;
}

.gsap-container {
  background-color: #282c34;
}

.paddingPlease {
  padding: 2rem;
}

/* // circles */
.circle-container {
  margin-top: 250px;
}

.circle {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: #FDCF51;
  margin: 50px;
}

.circle.red {
  background-color: #FD5151;
}

.circle.blue {
  background-color: #51A0FD;
}
