
.container  {
    display: flex;
}

.flex_item {
    color: white;
    padding: 5px;
    text-align: cenleftter;
    margin: 10px;
}

.absoluteHeader {
    position: fixed;
    left: 50px;
    bottom: 300px;
    color: rgb(0, 255,0);
    opacity: 0.7;
}

.moveHeader {
    position: relative;
    right: 10px;
    top: 10px;
    color: rgb(0, 255,200);
}

.relativeToObject {
    position: fixed;
    bottom: 50px;
    left: 70px;
    color: rgb(0, 255,200);
}

