

h3 {
    text-align: left;
    margin-top: 50px;
    margin-left: 5px;
}

h3::first-letter {
    color: orange;
}

h3::after {
    content: ' ***'
}

.centerText {
  text-align: center;
}


/*next chapter*/
.Imagecontainer {
	position: relative;
	width: 60%;
	height: 125px;
  margin-right: auto;
  margin-left: 30px;
  
}

div.one {
  width: 225px;
  height: 120px;
  box-sizing: border-box;
	background: orange;
  border: 1px solid black;
  color: white;
  text-align: center;
  padding: 45px;
  z-index: 3;
  position: relative;
  transition: all 0.7s ease-out;
}

div.two {
	height: 118px;
	position: relative;
  top: -120px;
  z-index: 1;
  overflow: hidden;
}

.Imagecontainer:hover .one {
   transform: translate(600px,0) rotate(360deg);
    -webkit-transform: translate(600px,0) rotate(720deg); /** Chrome & Safari **/
    
}


/* alright keyframes animation */
#containerTwo {
  position: relative;
  width: 350px;
  height: 250px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  border: 1px solid white;
}

.wrapper {
    position: relative;
    width: 100px;
    height: 100px;
 }

.box {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: orange;
  border: 1px solid white;
}

.box1 {
  -webkit-animation: box1 6s infinite;
}

@-webkit-keyframes box1 {
  0% {
    left: 0px;
    top: 0px;
    opacity: 1;
  }

  20% {
  	left: 300px;
  	opacity: 0.8;

  }

  40% {
    left: 125px;
    top: 0px;
    opacity: 0.2
  }

  45% {
  	left: 125px;
    top: 200px;
    opacity: 1
  }

  60% {
  	left: 300px;
    top: 100px;
    opacity: 1

  }
  100% {
    left: 0px;
    top: 0px;
    opacity: 0;
  }
}


.keyframeContainer {
    margin-top: 20px;
    width: 50%;
    height: 100%
  }

  